.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
 box-sizing: border-box;
}
.tableCon {
  margin: 20px auto;
  width: 500px;
  height: 200px;
  
}

table, th, td{
  text-align: center;
  border: 1px solid orange;
  border-collapse: collapse;

  
}

td {
  height: 60px;
  width: 80px;
}

.inputSalary {
  width: 60px;
  height: 35px;
  font-size: medium;
  text-align: center;
}
.salary {
  text-align: center;
  font-size: medium;
}
